// Follow BEM methodology, see: https://en.bem.info/methodology/
// Why? - Makes everything a lot tighter and more connected, making code easier to maintain
// General form: .block{__element[--modifier]}
// .block {}
// .block__element {}
// .block--modifier {}
// Useful links:
// Modified BEM - http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/
// https://en.bem.info/methodology/naming-convention/#alternative-naming-schemes
@import "animation";
@import "colors";
@import "layout";
@import "mixins";
@import "vars";

.root-layout {
  background-color: colors(main, bg);
  color: colors(main, gray-10);
  display: flex;
  flex-flow: column nowrap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 12px;
  height: 100%;
  overflow: auto;
  outline: 0;
  position: relative;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  white-space: normal;

  // Reset
  div, embed, canvas, hr, i, img, label, li, object, ol, p, span, strike, strong {
    @include no-padding;
    background: transparent;
    box-sizing: content-box;
    font-size: 100%;
  }

  a {
    color: colors(main, dark);

    &:visited {
      color: colors(main, dark);
    }
    &:hover {
      color: colors(main, primary);
    }
    &:active {
      color: colors(main, primary);
    }
  }

  .spinner {
    align-items: center;
    animation: spin 1s infinite linear;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: relative;
    right: 0;
    top: 0;
    height: 100%;

    svg {
      width: 68px;
      height: 68px;
    }
  }

  .images-carousel {
    position: relative;
    height: 100%;
    width: 100%;

    .carousel-nav {
      left: 0;
      top: 0;

      &__button {
        background: colors(main, bg);
        display: flex;
        flex: 1 0 auto;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;

        opacity: 0;
        position: absolute;
        transition: $animation;

        top: 0;
        bottom: 0;
        max-width: 10%;
        min-width: 100px;

        &:hover {
          opacity: 0.5;
          cursor: pointer;
        }

        &--prev {
          lefT: 0;
        }

        &--next {
          right: 0;
        }
      }
    }

    .images-container {
      position: relative;
      text-align: center;
      width: 100%;
      height: 100%;
    }

    .carousel-item {
      opacity: 0;
      position: absolute;
      transition: $animation;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }

      &--current {
        opacity: 1;
      }
    }
  }
}
